<div class="container mt-5 mb-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10">
      <div class="card">
        <div class="row">
          <div class="col-md-6">
            <div class="images p-3">
              <div class="text-center p-4"> <img src="{{producto.image}}" width="250" /> </div>
              <div class="thumbnail text-center"> <img onclick="change_image(this)" src="https://i.imgur.com/Rx7uKd0.jpg" width="70"> <img onclick="change_image(this)" src="https://i.imgur.com/Dhebu4F.jpg" width="70"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="product p-4">
              <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center"> <i class="fa fa-long-arrow-left"></i> <span class="ml-1">Back</span> </div> <i class="fa fa-shopping-cart text-muted"></i>
              </div>
              <div class="mt-4 mb-3"> <span class="text-uppercase text-muted brand">Intentar poner nombre vendedor (implica DTO)</span>
                  <h5 class="text-uppercase">{{producto.nombre}}</h5>
              </div>
              <p class="about">{{producto.descripcion}}</p>
              <div class="price d-flex flex-column justify-content-between">
                <div class="ml-2 justify-content-between"> <small class="dis-price">$59</small> <span>40% OFF</span> </div>
                <span class="act-price">${{producto.precio}}</span>
              </div>
            <div class="mt-4 align-items-center">
              <h6 class="text-uppercase">Cantidad</h6>
              <div *ngIf="producto.stock>0">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button type="button" class=" btn btn-danger btn-number" (click)="restarCantidad()" data-type="minus" data-field="">
                      -<span class="glyphicon glyphicon-minus"></span>
                    </button>
                  </span>
                  <input type="text" id="quantity" name="quantity" class="form-control input-number" value="{{cantidad}}" min="1" max="100">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-success btn-number" (click)="aumentarCantidad()" data-type="plus" data-field="">
                        +<span class="glyphicon glyphicon-plus"></span>
                    </button>
                  </span>
                </div>
              </div>
              <button *ngIf="producto.stock==0" type="button" class="btn btn-secondary" disabled>NO HAY STOCK</button>
            </div>
              <div class="cart mt-4 align-items-center"> <button class="btn btn-danger text-uppercase mr-2 px-4" (click)="agregarACarrito()">Añandir a mi carrito</button> <i class="fa fa-heart text-muted"></i> <i class="fa fa-share-alt text-muted"></i> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
